

.news * {
    box-sizing: border-box;
}
.news {
    background: #f1f1f1;
    padding: 2rem;
    min-height: 100%;
}

.blog-card2 {
    display: flex;
    flex-direction: column;
    margin: 1rem auto;
    box-shadow: 0 3px 7px -1px rgba(0, 0, 0, 0.1);
    background: #fff;
    line-height: 1.4;
    font-family: sans-serif;
    border-radius: 5px;
    overflow: hidden;
    z-index: 0;
}

.blog-card2 a {
    color: inherit;
}
.blog-card2 a:hover {
    color: #5ad67d;
}
.blog-card2:hover .photo {
    transform: scale(1.3) rotate(3deg);
}
.blog-card2 .meta {
    position: relative;
    z-index: 0;
    height: 200px;
}
.blog-card2 .photo {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-size: cover;
    background-position: center;
    transition: transform 0.2s;
}
.blog-card2 .details,
.blog-card2 .details ul {
    margin: auto;
    padding: 0;
    list-style: none;
}
.blog-card2 .details {
    position: absolute;
    top: 0;
    bottom: 0;
    left: -100%;
    margin: auto;
    transition: left 0.2s;
    background: rgba(0, 0, 0, 0.6);
    color: #fff;
    padding: 10px;
    width: 100%;
    font-size: 0.9rem;
}
.blog-card2 .details a {
    -webkit-text-decoration: dotted underline;
    text-decoration: dotted underline;
}
.blog-card2 .details ul li {
    display: inline-block;
}
.blog-card2 .details .author:before {
    font-family: FontAwesome;
    margin-right: 10px;
    content: "👤";
}
.blog-card2 .details .date:before {
    font-family: FontAwesome;
    margin-right: 10px;
    content: "📅";
}
.blog-card2 .details .tags ul:before {
    font-family: FontAwesome;
    content: "🏷";
    margin-right: 10px;
}
.blog-card2 .details .tags li {
    margin-right: 2px;
}
.blog-card2 .details .tags li:first-child {
    margin-left: -4px;
}
.blog-card2 .description {
    padding: 1rem;
    background: #fff;
    position: relative;
    z-index: 0;
}
.blog-card2 .description h1,
.blog-card2 .description h2 {
    font-family: Poppins, sans-serif;
}
.blog-card2 .description h1 {
    line-height: 1;
    margin: 0;
    font-size: 1.7rem;
}
.blog-card2 .description h2 {
    font-size: 1.5rem;
    color: #494949;
    font-weight: bold;
    margin-top: 5px;
}
.blog-card2 .description .read-more {
    text-align: right;
}
.blog-card2 .description .read-more a {
    color: #5ad67d;
    display: inline-block;
    position: relative;
}
.blog-card2 .description .read-more a:after {
    content: "➜";
    font-family: FontAwesome;
    margin-left: -10px;
    opacity: 0;
    vertical-align: middle;
    transition: margin 0.3s, opacity 0.3s;
}
.blog-card2 .description .read-more a:hover:after {
    margin-left: 5px;
    opacity: 1;
}
.blog-card2 p {
    position: relative;
    margin: 1rem 0 0;
}
.blog-card2 p:first-of-type {
    margin-top: 1.25rem;
}
.blog-card2 p:first-of-type:before {
    content: "";
    position: absolute;
    height: 5px;
    background: #fd7020;
    width: 35px;
    top: -0.75rem;
    border-radius: 3px;
}
.blog-card2:hover .details {
    left: 0%;
}

.news_pagination{
    display: flex;
    justify-content: center;

}

.page-item.active .page-link {
    z-index: 1;
    color: #fff;
    background-color: #247621;
    border-color: #247621;
}

.page-link {
    position: relative;
    display: block;
    padding: .5rem .75rem;
    margin-left: -1px;
    line-height: 1.25;
    color: #fd7020;
    background-color: #fff;
    border: 1px solid #dee2e6;
}

.partners{

    padding: 30px;
    margin: 0 auto;

    max-width: 1024px;

}

.partners img{
    width: 200px;
    margin: 30px;
}

h1{
    font-weight: bold;
}
