.video_div {
    overflow: hidden;
    height: 600px;
    vertical-align: middle;
    position: relative;
    margin-top:100px;
}

.youtube_video{
    width: 100%;
    height: 1080px;
    position: absolute;
    top:-200px;

}
